<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title"></h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
          <a><cite></cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar" id="tblSearch">
            <div class="layui-form toolbar" id="tblSearch">

                组织名称：
                <input dbfield="org_name" compare="like" class="layui-input search-input" type="text"/>&emsp;
                证书路径：
                <input dbfield="crypto_config_path" compare="like" class="layui-input search-input" type="text"/>&emsp;
                组织：
                <input dbfield="org_msp_id" compare="like" class="layui-input search-input" type="text"/>&emsp;
                <button id="layui-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                <button id="layui-btn-add" class="layui-btn icon-btn"><i
                        class="layui-icon">&#xe654;</i>添加
                </button>
            </div>

            <table class="layui-table" id="layui-table" lay-filter="layui-table"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="layui-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');


        // 渲染表格
        table.render({
            elem: '#layui-table',
            url: 'query/list/fabricConfig',
            page: true,
            cols: [[
                {type: 'numbers', title: '序号'},
                {title: '组织名称', field: 'org_name'},
                {title: '证书路径', field: 'crypto_config_path'},
                {title: '组织', field: 'org_msp_id'},
                {title: '排序域名', field: 'orderer_domain'},
                {title: '智能合约名称', field: 'chain_code_name'},
                {title: '智能合约版本', field: 'chain_code_version'},
                {title: '用户名称', field: 'user_name'},
                {title: '通道名称', field: 'channel_name'},
                {align: 'center', toolbar: '#layui-table-bar', title: '操作', width: 120}
            ]]
        });

        // 添加按钮点击事件
        $('#layui-btn-add').click(function () {
            showEditModel();
        });

        // 工具条点击事件
        table.on('tool(layui-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showEditModel(data.id);
            }
            if (layEvent === 'del') { // 修改
                layer.confirm('确定删除吗?', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    admin.req('query/delete/fabricConfig?id=' + data.id, null, function () {
                        table.reload('layui-table', {});
                    })
                });
            }
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? '修改' : '添加';
            admin.putTempData('fabric_config_id', data);
            admin.popupCenter({
                title: title,
                path: 'fabric/fabricconfig/form',
                area: ['860px', '520px'],
                offset: '20px',
                finish: function () {
                    table.reload('layui-table', {});
                }
            });
        };

        // 搜索按钮点击事件
        $('#layui-btn-search').click(function () {
            var searchFilter = JSON.stringify(kevin.getQueryObj("tblSearch"));
            console.log(searchFilter);
            table.reload('layui-table', {where: {filter: searchFilter}});
        });

    });
</script>